Start your notebook here:

Just some necessary things:

In [3]:
# Install necessary pip packages in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy pandas matplotlib seaborn python-dateutil

# Import the libraries we'll be using
import pandas as pd
import numpy as np
import ast
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from dateutil.parser import parse

Requirement already satisfied: numpy in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: matplotlib in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (3.9.0)
Requirement already satisfied: seaborn in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil in c:\users\milan\appdata\roaming\python\python311\site-packages (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\milan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\milan\appdata\roaming\python\python311\site-packages (from python-dateutil) (1.16.0)

Eventjes csv bestand lezen

In [4]:
filepath = "../dataset.csv"
data = pd.read_csv(filepath, index_col=0)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 1 to 1000
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   NAME                            999 non-null    object
 1   LANGUAGE                        999 non-null    object
 2   TYPE                            999 non-null    object
 3   MOST_STREAMED_GAME              999 non-null    object
 4   2ND_MOST_STREAMED_GAME          922 non-null    object
 5   AVERAGE_STREAM_DURATION         999 non-null    float64
 6   FOLLOWERS_GAINED_PER_STREAM     999 non-null    float64
 7   AVG_VIEWERS_PER_STREAM          999 non-null    float64
 8   AVG_GAMES_PER_STREAM            999 non-null    float64
 9   TOTAL_TIME_STREAMED             999 non-null    float64
 10  TOTAL_FOLLOWERS                 999 non-null    int64
 11  TOTAL_VIEWS                     999 non-null    int64
 12  TOTAL_GAMES_STREAMED            999 non-null    int64
 13  ACTIVE_DAYS_PER_WEEK            999 non-null    float64
 14  MOST_ACTIVE_DAY                 999 non-null    object
 15  DAY_WITH_MOST_FOLLOWERS_GAINED  999 non-null    object
dtypes: float64(6), int64(3), object(7)
memory usage: 132.7+ KB

How many 2nd most streamed games are missing?

In [8]:
total_null_2nd_game = data['2ND_MOST_STREAMED_GAME'].isnull().sum()

percent_2nd_game = (data['2ND_MOST_STREAMED_GAME'].isnull().sum() / data.shape[0]) * 100

print("Total records = ", data.shape[0])
missing_data_2nd_game = pd.DataFrame({
    'Total Missing': [total_null_2nd_game],
    'In Percent': [percent_2nd_game.round(2)]
}, index=['2ND_MOST_STREAMED_GAME'])

missing_data_2nd_game

Total records =  999

                        Total Missing  In Percent
2ND_MOST_STREAMED_GAME              0         0.0

Now, let's replace the missing data with 'No second game streamed'

In [7]:
data['2ND_MOST_STREAMED_GAME'] = data['2ND_MOST_STREAMED_GAME'].replace(np.nan, 'No second game streamed')

Duplicates vinden (er zijn er geen)

In [9]:
duplicates = data[data.duplicated()]
duplicates.head()

Empty DataFrame
Columns: [NAME, LANGUAGE, TYPE, MOST_STREAMED_GAME, 2ND_MOST_STREAMED_GAME, AVERAGE_STREAM_DURATION, FOLLOWERS_GAINED_PER_STREAM, AVG_VIEWERS_PER_STREAM, AVG_GAMES_PER_STREAM, TOTAL_TIME_STREAMED, TOTAL_FOLLOWERS, TOTAL_VIEWS, TOTAL_GAMES_STREAMED, ACTIVE_DAYS_PER_WEEK, MOST_ACTIVE_DAY, DAY_WITH_MOST_FOLLOWERS_GAINED]
Index: []

In [10]:
data.head()

,NAME,LANGUAGE,TYPE,MOST_STREAMED_GAME,2ND_MOST_STREAMED_GAME,AVERAGE_STREAM_DURATION,FOLLOWERS_GAINED_PER_STREAM,AVG_VIEWERS_PER_STREAM,AVG_GAMES_PER_STREAM,TOTAL_TIME_STREAMED,TOTAL_FOLLOWERS,TOTAL_VIEWS,TOTAL_GAMES_STREAMED,ACTIVE_DAYS_PER_WEEK,MOST_ACTIVE_DAY,DAY_WITH_MOST_FOLLOWERS_GAINED
RANK,,,,,,,,,,,,,,,,
1,kaicenat,English,personality,Just Chatting,I'm Only Sleeping,7.6,18.405,15.852,2.3,4.698,10600000,9150000,194,3.6,Friday,Saturday
2,jynxzi,English,personality,Tom Clancy's Rainbow Six Siege,NBA 2K20,5.4,3.386,1.145,1.2,8.407,5760000,1950000,54,5.6,Tuesday,Sunday
3,caedrel,English,personality,League of Legends,I'm Only Sleeping,6.3,689.000,12.331,1.3,6.728,797000,14200000,111,2.8,Thursday,Sunday
4,caseoh_,English,personality,NBA 2K23,Just Chatting,4.6,7.185,0.000,3.6,2.554,4220000,53,385,6.2,Friday,Monday
5,ibai,Spanish,personality,Just Chatting,League of Legends,4.1,8.289,190.714,1.5,6.865,15600000,359000000,149,4.3,Wednesday,Saturday